<mat-card>
  <h4>Category details</h4>
  <form [formGroup]="categoryDetailsForm" (ngSubmit)="saveCategoryFrom()">
    <mat-form-field class="full-width">
      <input matInput [ngModel]="category?.title" type="text" formControlName="title" placeholder="Title">
      <div class="sm-text is-danger" *ngIf="categoryErrors.title">
        {{ categoryErrors.title }}
      </div>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput [ngModel]="category?.slug" type="text" formControlName="slug" placeholder="Slug">
      <div class="sm-text is-danger" *ngIf="categoryErrors.title">
        {{ categoryErrors.slug }}
      </div>
    </mat-form-field>
    <mat-form-field class="full-width">
    <mat-select formControlName="parent" placeholder="Parent category" [(ngModel)]="category.parent">
      <mat-option value="">
        No parent category
      </mat-option>
      <mat-option *ngFor="let parent of parentCategories" value="{{parent.id}}">
        {{parent.title}}
      </mat-option>
    </mat-select>
    </mat-form-field>
    <div class="full-width m-b-40">
      <mat-slide-toggle [ngModel]="category?.visible" formControlName="visible"
         color="primary">
       Visible?
      </mat-slide-toggle>
    </div>
    <button mat-button class="success" type="submit" name="button" [disabled]="!categoryDetailsForm.valid">Save</button>
  </form>
</mat-card>
