.login-form{
  width:320px;
  margin: 20px auto;
}
.btn-google{
  background: #D34836;
  color:#fff;
  margin-bottom: 10px;
}
.btn-facebook{
  background:#3b5998;
  color:#fff;
  margin-bottom: 10px;
}
