<mat-card>
  <a mat-button class="indigo" routerLink="/admin/posts/new">New post</a>
  <mat-table #table class="mr-20" [dataSource]="dataSource" matSort>
    <!-- <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> # </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <div class="uploaded-image-list" *ngIf="row.images | async; let uploads">
              <div *ngIf="uploads.length > 0; else noimage">
                  <div *ngFor="let upload of uploads">
                      <img src="{{upload.url}}" style="width:100%">
                  </div>
              </div>
            </div>
            <ng-template #noimage>
              <img src="assets/product_default.jpg" style="width:100%" alt="no product image">
            </ng-template>
        </mat-cell>
    </ng-container> -->
    <!-- Age Definition -->
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> id </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
    </ng-container>
    <!-- Title Definition -->
    <ng-container matColumnDef="visible">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Visible? </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.visible}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Actions</mat-header-cell>
        <mat-cell *matCellDef="let row; let i = index">
          <a mat-icon-button color="accent" matTooltip="Edit" matTooltipPosition="above" routerLink="{{row.id}}">
              <mat-icon>edit</mat-icon>
          </a>
          <button mat-icon-button color="warn" matTooltip="Delete" matTooltipPosition="above" (click)="removeCategory(row)">
              <mat-icon>clear</mat-icon>
          </button>
        </mat-cell>
    </ng-container>

    <!-- Header and Row Declarations -->
    <mat-header-row *matHeaderRowDef="['id', 'title', 'visible', 'actions']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['id', 'title', 'visible', 'actions']"></mat-row>
  </mat-table>
  <div class="mr-20">
  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>
  </div>
</mat-card>
