:host{
  width: 300px;
  height: 100%;
  position: fixed;
  top: 60px;
  left: 0px;
  z-index: 9;
  background: #1a212c;
  border-right: 1px solid #ccc;
}
ul{
  padding: 0;
  li{
    list-style: none;
    height: 60px;
    line-height: 60px;

    border-bottom: 1px solid #373f4d;
    a{
      display: block;
      padding-left: 20px;
      background: #272f3d;
      text-decoration: none;
      color:#ccc;
    }
  }
}
