.success-alert{
  color:#4CAF50;
}
.error-alert{
  color:#F44336;
}
.info-alert{
  color: #2196F3;
}
.material-icons{
    font-size: 24px;
    width: inherit;
    height: 1.8rem;
    vertical-align: middle;
}
