/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


body{
  margin: 0 auto;
}
.full-width{
  width: 100%;
}
.sm-text{
  font-size: 12px;
}
.is-danger{
  color:red;
}
.is-success{
  color:green;
}
.success{
  background: #4CAF50;
  color:#fff !important;
  &:disabled{
    background: #A5D6A7;
  }
}
.danger{
  background: #F44336;
  color:#fff !important;
  &:disabled{
    background: #EF9A9A;
  }
}
.indigo{
  background: #3F51B5;
  color:#fff !important;
}
.main{
  margin-top: 60px;
}
.content{
  margin-left: 300px;
  padding: 20px 10px;
}
.right-side-snack{
  position: absolute !important;
  right: 10px;
  top: 80px;
}
.main-container{
  .posts{
    margin: 20px 10px !important;
    a{
      text-decoration: none;
      color:#333;
      &:hover{
        color:#666;
        text-decoration: underline;
      }
    }
    img{
      width: 100%;
    }
  }
  .section{
    margin-top: 20px;
    margin-right:10px;
  }
}
.text-center{
  text-align: center;
}
